*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$color-primary: #ec6626;


body{
    background-image: url(/imgs/fundo.jpg);
    background-size: cover;



    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.theme{
        position: relative;
        z-index: 1;
        left: 11rem;
        top: 1rem;

        .theme h3{

            font-size: 1rem;
            margin-bottom: 1px;
            position: relative;
        }

    .theme-back{

        background-color: #1c1c1c;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        position: relative;
    
        .theme-bol{
            transition: all .5s;

            width: 50px;
            height: 30px;
            border-radius: 25px;
            background-color: #1c1c1c;
            cursor: pointer;
            .theme-bol:hover{
                background-color: #ec6626;
            }
        }
    
    }

}

.section{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 9px rgba(0, 0, 0, 0.313);
    width: 440px;
    height: 450px;
    padding: 30px;

    transition: all .5s;

    h1{
        color: $color-primary;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 20px;
        font-size: 2.4rem;
        text-transform: uppercase;
    }
    
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;


    height: 80%;
    width: 60%;

    label{
        font-size: 1.2rem;
        padding: none;
    }

    input[type=number]{
        padding: 5px;
        height: 35px;
        font-size: 20px;
        outline: none;
        border-radius: 9px;

        margin-top: 10px;
        margin-bottom: 10px;

    }

    input[type=submit]{
        background-color: $color-primary;
        color: white;
        border-radius: 15px;
        align-self: center;
        cursor: pointer;
        border: none;
        margin-top: 20px;

        width: 60%;
        height: 40px;

        font-size: 18px;
        letter-spacing: 1px;
        font-weight: 600;

        transition: all .5s;
    }

    input[type=submit]:hover{
        transform:  translateY(-.01rem);
    }

}

.box{
    z-index: 99;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 350px;
    width: 350px;
    background-color: rgb(229, 229, 255);
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.133);

    padding: 20px;
    border-radius: 15px;

    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;


    #top{
        color: #1c1c1c;
        text-transform: uppercase;
    }

    #resultado{
        color: #1c1c1c;
        font-size: 6rem;
        font-weight: 600;
        text-shadow: 1px 3px 0px rgba(0, 0, 0, 0.5);
    }

    #comment{
        font-size: 1.7rem;
        font-weight: 900;
        text-transform: uppercase;
        color: #1c1c1c;
        text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.826);
    }

    #btn-back{
        padding: 1rem;
        letter-spacing: 3px;
        font-weight: 600;
        border: none;
        background-color: #1c1c1c;
        color: aliceblue;
        border-radius: 8px;
        cursor: pointer;
    }
}



@media (max-width:500px){
    .section{
        width: 360px;
        height: 390px;
        padding: 20px;
    }

    #tema{
        position: relative;
        right: 1rem;
    }

    .theme-back{
        right: 1rem;
    }
}


@media (max-width:384px){
    .section{
        width: 290px;
        height: 360px;
        padding: 5px;
    }

    #tema{
        position: relative;
        right: 3rem;
        bottom: 15px;
    }

    .theme-back{
        right: 3rem;
        bottom: 1rem;
    }

    label{
        font-size: 1.2rem;
        padding: none;
    }

    input[type=number]{
        padding: 3px;
        height: 35px;
        width: 110%;
        font-size: 20px;
        border-radius: 9px;

        margin-top: 10px;
        margin-bottom: 10px;

    }

    input[type=submit]{
        margin-top: 20px;

        width: 70%;
        height: 40px;

        font-size: 14px;
        letter-spacing: 1px;
        font-weight: 600;
    }
}